body {
  font-family: "ヒラギノ角ゴ ProN W3", "游ゴシック", sans-serif;
  height: 100vh;
}

#container {
  height: 95vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
#bush{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inputContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
#iconImg {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #000;
}

#QR {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

#qrImg {
  display: block;
  height: 100%;
  width: 100%;
}

#readQrContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#readQrImg {
  height: 5vh;
  display: block;
}

#qrLink {
  display: inline-block;
}

#textContainer {
  width: 80%;
  text-align: center;
}

#active {
  font-size: x-large;
}

#nameInput {
  width: 80%;
  height: 40px;
}

#iconInput {
  margin-top: 20px;
}

#activeInput {
  width: 80%;
  height: 40px;
}

#signUpButton,
#editButton,
#homeButton {
  border: 0;
  border-radius: 3.75rem;
  background-color: cornflowerblue;
  color: white;
  font-size: large;
  width: 60vw;
  height: 60px;
}

#heatmapButton {
  border: 0;
  border-radius: 3.75rem;
  background-color: cornflowerblue;
  color: white;
  font-size: large;
  width: 10vw;
  height: 60px;
}


/*ここから下がcal-heatmapのcss*/


.cal-heatmap-container {
	display: block;
  
}

.graph
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.graph-label
{
	fill: #999;
	font-size: 10px
}

.graph, .graph-legend rect {
	shape-rendering: crispedges
}

.graph-rect
{
	fill: #ededed
}

.graph-subdomain-group rect:hover
{
	stroke: #000;
	stroke-width: 1px
}

.subdomain-text {
	font-size: 8px;
	fill: #999;
	pointer-events: none
}

.hover_cursor:hover {
	cursor: pointer
}

.qi {
	background-color: #999;
	fill: #999
}

/*
Remove comment to apply this style to date with value equal to 0
.q0
{
	background-color: #fff;
	fill: #fff;
	stroke: #ededed
}
*/

.q1
{
	background-color: #dae289;
	fill: #dae289
}

.q2
{
	background-color: #cedb9c;
	fill: #9cc069
}

.q3
{
	background-color: #b5cf6b;
	fill: #669d45
}

.q4
{
	background-color: #637939;
	fill: #637939
}

.q5
{
	background-color: #3b6427;
	fill: #3b6427
}

rect.highlight
{
	stroke:#444;
	stroke-width:1
}

text.highlight
{
	fill: #444
}

rect.now
{
	stroke: red
}

text.now
{
	fill: red;
	font-weight: 800
}

.domain-background {
	fill: none;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #222;
	color: #bbb;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	padding: 0;
	display: "block";
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}