body {
  font-family: "ヒラギノ角ゴ ProN W3", "游ゴシック", sans-serif;
  overflow: scroll;
  margin-right: 0;
  margin-left: 0;
}

#header {
  height: 15vh;
}

#container {
  height: 115vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imgWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#iconImg {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #000;
}

#QR {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 35vh; */
}

#qrImg {
  display: block;
  height: 100%;
  width: 100%;
}

#readQrContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#readQrImg {
  height: 5vh;
  display: block;
}

#qrLink {
  display: inline-block;
}

#textContainer {
  width: 80%;
  text-align: center;
}

#active {
  font-size: x-large;
}

#activeImg {
  height: 80%;
  width: 80%;
  /* border-radius: 15%; */
  object-fit: cover;
  border: 1px solid #000;
}

#homeActiveImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
}
.homeActiveImg {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  object-fit: cover;
  border: 1px solid #000;
}

#nameInput {
  width: 80%;
  height: 40px;
  font-size: x-large;
}

#iconInput {
  margin-top: 20px;
}

#activeInput {
  width: 80%;
  height: 40px;
  font-size: x-large;
}

#signUpButton,
#homeButton {
  border: 0;
  border-radius: 3.75rem;
  background-color: cornflowerblue;
  color: white;
  font-size: large;
  width: 60vw;
  height: 60px;
  margin-top: 10px;
}

#qrBtn {
  border: 0;
  border-radius: 3rem;
  background-color: cornflowerblue;
  color: white;
  font-size: large;
  width: 60vw;
  height: 60px;
}

#recordContainer {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-top: 20px;
}

footer {
  /* ここからがfooterのcssです　ぐちゃぐちゃになっていますが一応うごきます*/
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(200, 200, 200, 0.3);
}
#footterSearchButton,
#footterHomeButton,
#editButton {
  /* ボタンをまとめてます*/
  background: transparent; /* ボタン画像の背景を透明にします*/
  border: 2px solid transparent; /* ボタン画像の外枠を透明にします*/
}

#footer_margine {
  height: 50px;
}
