body {
  font-family: "ヒラギノ角ゴ ProN W3", "游ゴシック", sans-serif;
  height: 100vh;
}

#container {
  height: 95vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
#bush{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inputContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
#iconImg {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #000;
}

#QR {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

#qrImg {
  display: block;
  height: 100%;
  width: 100%;
}

#readQrContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#readQrImg {
  height: 5vh;
  display: block;
}

#qrLink {
  display: inline-block;
}

#textContainer {
  width: 80%;
  text-align: center;
}

#active {
  font-size: x-large;
}

#nameInput {
  width: 80%;
  height: 40px;
}

#iconInput {
  margin-top: 20px;
}

#activeInput {
  width: 80%;
  height: 40px;
}

#signUpButton,
#editButton,
#homeButton {
  border: 0;
  border-radius: 3.75rem;
  background-color: cornflowerblue;
  color: white;
  font-size: large;
  width: 60vw;
  height: 60px;
}

#heatmapButton {
  border: 0;
  border-radius: 3.75rem;
  background-color: cornflowerblue;
  color: white;
  font-size:x-small;
  width: 20vw;
  height: 60px;
}


/*ここから下がcal-heatmapのcss*/

.ch-container{display:block}
.ch-container,.ch-domain,.ch-domain-container,.ch-domain-container-animation-wrapper
{overflow:visible}
.ch-domain-container.in-transition .ch-domain-container-animation-wrapper{overflow:hidden}.ch-domain-bg{fill:transparent}.ch-domain-text{fill:currentColor;font-size:10px}.ch-subdomain{overflow:visible}.ch-subdomain-bg{fill:#ededed}.ch-subdomain-bg.highlight{stroke:#444;stroke-width:1px}.ch-subdomain-bg:hover{stroke:#000;stroke-width:1px}.ch-subdomain-text{font-size:8px;pointer-events:none}[data-theme=dark] .ch-subdomain-bg{fill:#2d333b}[data-theme=dark] .ch-subdomain-bg.highlight{stroke:#768390}[data-theme=dark] .ch-subdomain-bg:hover{stroke:#636e7b}#ch-plugin-legend>svg{background:transparent;color:currentColor}#ch-tooltip{background:#222;border-radius:2px;box-shadow:2px 2px 2px rgba(0,0,0,.2);box-sizing:border-box;color:#bbb;display:none;font-size:12px;line-height:1.4;padding:5px 10px;text-align:center}#ch-tooltip[data-show]{display:block}#ch-tooltip-arrow,#ch-tooltip-arrow:before{background:inherit;height:8px;position:absolute;width:8px}#ch-tooltip-arrow{visibility:hidden}#ch-tooltip-arrow:before{content:"";transform:rotate(45deg);visibility:visible}#ch-tooltip[data-popper-placement^=top]>#ch-tooltip-arrow{bottom:-4px;margin-left:-4px}#ch-tooltip[data-popper-placement^=bottom]>#ch-tooltip-arrow{margin-left:-4px;top:-4px}#ch-tooltip[data-popper-placement^=left]>#ch-tooltip-arrow{right:-4px}#ch-tooltip[data-popper-placement^=right]>#ch-tooltip-arrow{left:-4px}#ch-tooltip[data-theme=dark]{background:#636e7b;color:#cdd9e5}